extends ../layout

block content
  #block-content
    h1.
      #{title}
    #decks-index
      - each deck in decks
        a(href="decks/#{deck.id}")
          .deck
            = deck.deckName
            

  
