extends ../layout

block content
  h1 All decks
    //- #{title}
  //- ul#decks-index
  //-   - each deck, i in decks
  //-     .deck.get-deck
  //-       a(href="decks/#{deck._id}")
  //-         li
  //-           = deck.deckName
