extends ../layout

block content
  #block-content
    h1.
      #{title}
    #users-index
      - each user, i in users
        a(href="users/#{user._id}")
          .user
            = user.userName
