extends ../layout

block content
	h1.
		#{title}
	form#formAddUser(name="addUser", method="post", action="/users")
		p user name: 
			input#input-userName(type="text", placeholder="ex. John Smith", name="userName")
		p email:
			input#inputEmail(type="text", placeholder="ex. you@thebest.com", name="email")
		p password: 
			input#inputPassword(type="text", name="password")
		p
			button#btnSubmit(type="submit") submit
