extends ../layout

block content
  #block-content
    h1.
      #{user.userName}
  
    form#getEditUser(name="editUserBtn", method="get", action="/users/#{user._id}/edit")
      button.btnSubmit(type="submit") edit profile
